extends layout

block content
  div(ng-app="aplicacion", ng-controller="mapa", ng-init="init()")
    h1= title
    p BIenvenuto o como se escriba to #{title}
    ul
      li {{nombre}}
      li {{descripcion}}
      li {{latitud}}
      li {{longitud}}
      li {{lugares_cercanos}}
      li {{historio_lugar}}
      li {{horario}}
      li {{costo_entrada}}
      li {{fotos.id}}
      li {{fotos.foto}}
      li {{fotos.lugar}}
      
