doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style_resp.css')
		//- script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
		script(src="/javascripts/jquery.js")
		//- script(src="/javascripts/controller.js")
		script(src="https://cdn.jsdelivr.net/autocomplete.js/0.21.8/autocomplete.jquery.min.js")
		script(src="https://cdn.jsdelivr.net/autocomplete.js/0.21.8/autocomplete.min.js")
		script(src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js")
		script(src="/javascripts/design_control.js")
	body.bg_lightgray
		.app_bar.shadow_trans.bg_white
			.top_search_bar.bg_lightgray.rounded_trans
				input(type="text", name="", id="search_bar", placeholder="¿Qué estas buscando?")
				button.icon_gray
			.col-md1.shadow_trans#search_bar_hidden_list
				.line_separator(style="background-color: #e0e0e0;")
				#search_bar_result
				
		block content
